.intro__wrapper{
  max-width: 600px;
  margin:0 auto;
}

.intro__tagline{
  line-height:4rem;
  font-weight: 700;

  @media only screen and (max-width:800px){
   line-height:2.75rem;
  }

  u{
    text-decoration: none !important;
    position:relative;
    &::after{
       position:absolute;
       content:url('../files/yellow-underline.svg');
       top:24px;
       left:-14px;
       width:100%;
    }
  }
}

.intro__description{
  line-height:2rem;
}