
.projects__results{
  display:grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr) );
  align-items:center;

  @media only screen and (max-width:480px){
     grid-template-columns: repeat(auto-fit, minmax(120px, 2fr) );
  }
}

.project{
  height:290px;
  cursor:pointer;
  position:relative;
  z-index: 1;
  overflow:hidden;

  @media only screen and (max-width:480px){
   height:160px;
  }
 

  &:hover > .project-overlay{
     background:rgba(var(--primary-rgb), 0.6);
      opacity:1;
  }
}

 h3{
    display:block;
    text-align: center;
  }
.project-overlay__info{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.project-overlay{
   opacity:0;
   transition: all 0.5s ease-in-out;
   width: 100%;
   height: 100%;
   z-index: 3;
   position:absolute;
   display:block;
}


.project-img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 1rem;
  z-index: 2;
  position:absolute;
  transform:scale(1.1);
}


/* Filter Options */
.project__option--current{
  font-weight: var(--weight-bold);
}

.project__option-link{
  text-decoration: none;

  @media only screen and (max-width:480px){
   font-size:0.875rem;
  }
}

.projects__filter{
  padding-left:0;
  gap:0.75rem 1rem;
  justify-content: space-between;

  @media only screen and (max-width:800px){
   justify-content:space-around;
  }
}