<div class="container mt-40 mb-40">
  <div class="row contact__wrapper">
    <div class="col-12 col-md-6 contact__left-sec">
      <h2 class="contact__title">Let's stay in<br>
        touch!
      </h2>

      <ul class="sm__list">
        <li class="sm__item">
          <a href="#" target="_blank" class="sm__link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="sm__item">
          <a href="#" target="_blank" class="sm__link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="sm__item">
          <a href="#" target="_blank" class="sm__link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>


    <div class="col-12 col-md-6 contact__right-sec">
     <div class="contact__right-wrapper">
        <h2 class="contact__title stroke">Contact</h2>
        
        <ul class="ci__list">
          <li class="ci__item">
            <i class="fas fa-phone-volume"></i>
            <a href="#" target="_blank" class="ci__link">
              0945 317 8169
            </a>
          </li>
          <li class="ci__item">
            <i class="fas fa-envelope"></i>
            <a href="#" target="_blank" class="ci__link">
              rapsamaniego27@gmail.com
            </a>
          </li>
        </ul>
     </div>
    </div>
  </div>
</div>