<!-- Row Intro -->
<div class="container mt-30 pl-20 pr-20">
  <div class="intro__wrapper">
    <img src="{{site.baseurl}}/assets/files/no-profile.jpg" class="avatar__normal" alt="...">
    <h3 class="text-center mt-20">Hi, I'm Rose Gil Mercado</h3>

    <h1 class="text-center mt-20 intro__tagline"><u>Producing</u> user-centric website design and digital
      marketing content.</h1>

    <h5 class="text-center mt-20">a Graphic Designer in PH. I specialize in Adobe Photoshop, Illustrator Indesign, After
      Effects and Adobe Premier</h5>

    <button type="button" class="press-primary press-large d-block mx-auto mt-40">Connect with me</button>
  </div>
</div>