
<!-- Row Portfolio -->
<div class="container mt-60 portfolio__container">
  <ul class="projects__filter d-flex flex-wrap">

    {% for project_type in strapi.collections.project-types %}
      <li class="project__option" data-project-type="{{project_type.slug}}">
        <a href="#" target="_blank" class="project__option-link {% if forloop.index <= 1 %} project__option--current {% endif %}">{{ project_type.title }}</a>
      </li>
    {% endfor %}

  </ul>

  <div class="projects__results-container mt-60">
    <div class="projects__results" id="portfolioResultsContainer">
      

    </div>
  </div>
</div>


{% include templates/modal.html %}