
<!-- Row Portfolio -->
<div class="container mt-60">
  <ul class="projects__filter d-flex flex-wrap">
    <li class="project__option project__option--current">
      <a href="#" target="_blank" class="project__option-link">Website Design</a>
    </li>
    <li class="project__option">
      <a href="#" target="_blank" class="project__option-link">Mobile UI Design</a>
    </li>
    <li class="project__option">
      <a href="#" target="_blank" class="project__option-link">Branding</a>
    </li>
    <li class="project__option">
      <a href="#" target="_blank" class="project__option-link">Logo Design</a>
    </li>
    <li class="project__option">
      <a href="#" target="_blank" class="project__option-link">Social Media Post</a>
    </li>
    <li class="project__option">
      <a href="#" target="_blank" class="project__option-link">Key Visual Illustration</a>
    </li>
  </ul>

  <div class="projects__results mt-60">
    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>

    <div class="project">
      <div class="project-overlay">
        <div class="project-overlay__info">
          <h5 class="hex-white text-center">IronSocket - Mobile app UI</h5>
          <a href="#" target="_blank" class="mt-10 hex-white text-decoration-none"><i class="far fa-eye"></i> View</a>
        </div>
      </div>
      <img src="{{site.baseurl}}/assets/files/thumbnail.jpg" alt="Rap Esteva | Samples | {{sample.title}}"
        title="Rap Esteva | Samples | {{sample.title}}" class="project-img" loading="lazy">
    </div>
  </div>
</div>